UC1Fabric/src/main/resources/schema/ms-stub-v2.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="title"/>
        <xs:element type="xs:string" name="firstName"/>
        <xs:element type="xs:string" name="lastName"/>
        <xs:element type="xs:string" name="city"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="user"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
