UC2/src/data/privateCustomers.xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ListCustomers">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="customer" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="John"/>
                    <xs:enumeration value="A"/>
                    <xs:enumeration value="Lucy"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="address">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="King's st."/>
                    <xs:enumeration value="5th av."/>
                    <xs:enumeration value="Newcourt St."/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="email">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="John@king.st"/>
                    <xs:enumeration value="a@5th.av"/>
                    <xs:enumeration value="lucy@newcourt.st"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="country">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="UK"/>
                    <xs:enumeration value="US"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="type" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>